

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}




table.hdrtbl {
 background: none;
margin: 0% 0% 0% 2%;
width: 98%;
}
td.tdlogo {
    width: 21%;
}
td.tdintro{
 width: 60%;
}

td.phone{
 width: 19%;
}
.filter h4 {
display: inline-block;
font-size: 12px;
width: 50%;
color: #daff88;
margin: -4px 0px 7px -13px;
white-space: normal;
}



 #LM{
margin: 0% 0% 0% -17%;

}
#idtxtv{

width:116px;
  height:32px;
  display:block;
  cursor:pointer;
}
div#ftdiv {
       display: block!important;
    width: 100%!important;
}
.MonFt{
    text-align: center!important;
 margin: 0px 0px 4% 0%;
}

.strlFt{
display:inline;
margin-left:59%;
margin-top:-70px;

}

.pu{
 margin: 0px;

}
p {
  margin: 7px;

}
.p2 {
  width:50%;
  margin: 7px;
}
.p2mag{
float:right;
width:75%!important;
}

.pa{
text-indent: 20px;

}

.mg-desktop-cart .small-cart-icon {
    display: block;
    width: 74px;
    height: 57px;
     background: url(../images/korzina.png) 0 0 no-repeat;
}
.small-cart {
display:none;

}

.leftfoto{
float:left;
margin: 4px 10px 2px 0px;
border:1px solid #CCC;
padding:6px;
width:200px;
height:100px;
}


.button,
button, input[type="submit"] {
  cursor: pointer;
  outline: none;
}

a:hover {
  text-decoration: none;
}



p span, ul li span {
  font-weight: bold;
}


td {
 vertical-align: top;
}

td+td {

}

td:last-child {

}



.container {
   width: 98%;
    overflow: hidden;
    }


.cols {
  height: 100%;
  display: table-cell;
  vertical-align: top;

}

.colleft {
  width: 100%;

}

.colright {
  width: 77%;
}



/* Header
-----------------------------------------------------------------------------*/

.header {
  position: relative;
  margin-bottom: 1em;

}

.logo {
 text-decoration: none;
    font: bold italic 272%/1.2em Arial, Helvetica, sans-serif;
}

.cred {
  color: #ff0000;
}



.inettitle {
    padding-left: 0.3em;
    font-size: 96%;
    /* font: icon; */
    text-decoration: none;
    text-align: center;
    width: 0%;
    margin: 0% 0% 0% -10%;
    padding: 0% 0% 0% 0%;
    height: 85px;
    width: 100%;
}

/*cart*/
.outcart {
     position: relative;
    top: 0%;
    left: 47%;
  width: 40%;
}
.cart {
  padding-left: 0.3em;
  color: #1a7ecb;
}

.cartleft {
  float: left;
  padding-right: 0.5em;
}

.cartright {
     line-height: 1.2em;
    overflow: hidden;
    margin: -38% 0% 0% 50%;
    padding: 0% 0% 0% 8%;
    width: 129%;
}


/*topintro*/










.phone span {
  color: #787777;
  font-size: 0.8em;
}

.zvonok {
  font-size: 0.8em;
  font: 0.8em/1.2em Arial, Helvetica, sans-serif;
}

/*bread-crumbs*/
.bread-crumbs {
  padding: 1em 0 0;
}


/*catmenu*/

.catmenu .cols {
  padding: 0.4em 1em 0.4em 1em;
}

.cattitle {
  font-weight: bold;
    font-size: 100%;
    line-height: 1.6em;
}

.catmenu li {
     list-style-type: none;
    text-transform: lowercase;
    line-height: 1.5em;
    width: 105%;
    margin: 6% 0% 5% 1%;
    padding: 0% 0% 0% 5%;
}

.catmenu li.active {
  margin: 0 -1em;
  padding: 0 1em;
}

.catmenu .col1 li.active {
  background: #7a9e2d;
}

.catmenu .col2 li.active {
  background: #6dd3f3;
}

.catmenu .col3 li.active {
  background: #ffc99e;
}
img.img1antistat {
   width: 101%;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
}
img.img3antistat {
   width: 94%;
    margin: 1% 0% 0% -2%;
    padding: 0% 0% 0% 0%;
}

img.img4antistat {
    width: 94%;
    margin: 0% 0% 4% 0%;
    padding: 0% 0% 0% 0%;
}
img.img5antistat {
    width: 94%;
    margin: -3% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
}
.AttentYl.img2antistat {
    width: 100%;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
}
.catmenu a {
  color: #000;
    font-size: 109%;
}

.catmenu .active a {
  text-decoration: none;
}

.others {
 text-align: center;
    font-size: 100%;
    line-height: 1.2em;
    margin-top: 0.3em;
    font-weight: bold;
    text-transform: uppercase;
}


/*left*/

.leftblock {
   background: #fffdef;
    text-transform: uppercase;
    width: 175px!important;
    margin: 0% 0% 0% 10%;
    padding: 0% 7% 0% 0%;
    position: static!important;
}

.leftblock a {
  color: #000;
}





/*content*/

.content {
  width: 77%;
  overflow:hidden;
}



.colfilter {
  width: 29%;
  padding-left: 4%;
}





/*mg-filter-item*/


/* Footer
-----------------------------------------------------------------------------*/







.ftleft {
  float: left;
  margin-left: -140px;
}
.betpolimg1{
    border-width: 1px;
    border-style: solid;
    margin: 2px;
    float: right;
    width:17%;
    height: 20%;
}
.betpolimg2{
    border-width: 1px;
    border-style: solid;
    margin: 2px;
    float: right;
        width: 19%;
    height: 59%;
}
.betpolimg3{
    border-width: 1px;
    border-style: solid;
    margin: 2px;
    float: right;
    width: 19%;
    height: 17.7%;
}
.betpolimg4{
    border-width: 1px;
    border-style: solid;
    margin: 2px;
    float: right;
    width: 21%;
    height: 24%;
}

.ftright {
  float: right;
  margin-right: 122px;
}

div.ftcopyr>p{
margin-left: 2px !important;
padding: 0px;
text-align: center;
white-space: normal;
width: 258px;
}
.ftcopyr {
  padding-top: 1em;
  margin: 0 30%;
  text-align: center;
}

/*1*/

.products {
  margin: 1.5em auto;
}

.product {
  margin-bottom: 1.5em;
}

.pbuttons {
  float: right;
  text-align: center;
}


.pbutton {

  min-width: 7em;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 2px 2px 2px 0px #c4c4c4;

}




.pbuttons .pbutton:last-child {
  margin-right: 0em;
}







.row h1 {
  font-size: 1.8em;
}

.content table {
  width: 100%;
  border-collapse: collapse;
  background: #fffdee;
  margin-bottom: 1em;
}

.content thead {
  background: #fcf8d6;
}

.content td,
.content th {
  padding: 0;
}

.content th {
  text-align: left;
  font-weight: normal;
  font-size: 1.2em;
}

/*4*/

.spokr {
  width: 15em;
}

.content form {
  margin-bottom: 1em;
}




/*Стили из могуты---------------------------------------------------------*/


/*Пагинация*/
.mg-pager {
    margin: 20px 0 0 0;
    padding: 0 0 1px 0;
}

.allPages {
    display: none;
}
.mg-pager ul {
    margin: 7px 5px 0 0;
    list-style: none;
    padding: 0;
    text-align: center;
}
.mg-pager ul li {
    display: inline-block;
}

.mg-pager ul li a {
    font-size: 11px;
    display: block;
    padding: 5px 8px;
    color: #3F454B;
    border-radius: 5px;
}

.mg-pager ul li a:hover{
    text-decoration: none;
}

.mg-pager ul li a.active {
    background: #A6ABB1;
    box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.form-group .mg-pager ul,
.form-group .mg-pager{
    margin: 0;
}

.form-group .mg-pager .allPages{
    margin: 5px 15px 0 0;
    font-size: 11px;
    color: #777;
}

.cart-table {
    width: 100%;
}

.product-cart .cart-wrapper{
    padding: 5px 0;
    border-radius: 5px;
    border: 1px solid #DDD;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background: #fff;
    margin: 0 0 15px 0;
}

.cart-table tr td .amount_input {
    margin: 0 10px 0 0;
    height: 30px;
}

.cart-table tr td {
    padding: 15px 10px;
    font-size: 12px;
    vertical-align: middle;
}

.cart-table tr td.count-cell{
    white-space: nowrap;
}

.cart-table tr td{
    border-bottom: 1px solid #DDD;
}

.cart-table tr td.img-cell {
    text-align: center;
}

.total-sum strong,
.cart-table tr td.price-cell {
    white-space: nowrap;
    font-weight: bold;
    text-align: left;
    color: #302A25;
    font-size: 18px;
}

.total-sum{
    padding: 15px;
    text-align: right;
}

.total-sum span{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 14px;
    margin: 0 10px 0 0;
}

.total-sum strong{
    color: #F50505;
    display: inline-block;
    vertical-align: middle;
}

.cart-table tr td.code-cell{
    color: #8A8A8A;
    font-size: 12px;
}

.cart-table tr td a {
    font-size: 14px;
}

.cart-table tr td a:hover{
    text-decoration: none;
}

.cart-table tr td a.cart-img {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
}

.cart-table tr td a.cart-img img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.cart-table tr td strong {
    color: #E60D15;
}

.qty-field {
    width: 120px;
}

.delete-btn {
    background: url(../images/sprite.png) -376px 0 no-repeat;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin: 0 0 0 20px;
}

.refresh {
    width: 14px;
    height: 16px;
    background: url(../images/sprite.png) -362px 0 no-repeat;
    border: none;
    text-indent: -999999px;
}

.checkout {
    float: right;
}

/*Карточка товара*/


.label-black {
    font-weight: normal;
}

.wrapper .label-article {
    font-weight: normal;
    padding: 0;
    background: none;
    border: none;
}

.price {
    font-size: 16px;
    color: #000;
    font-weight: bold;
}

.old-price .old {
    color: #9A9A9A;
    font-size: 16px;
    font-weight: bold;
    text-decoration: line-through;
}

.buy-block {
    width: 100%;
    overflow: hidden;
    min-height: 265px;
}

.buy-block .buy-block-inner{
    position: relative;
    padding-right: 220px;
}

.buy-block .product-price{
    position: absolute;
    right: 10px;
    top: 0;
    padding: 10px 15px;
    text-align: right;
}

.buy-block .product-price.mobile{
    display: none;
}

.buy-block .product-price .product-status-list li{
    margin: 0;
}

.buy-block .product-price .price{
    font-size: 26px;
    color: #302A25;
}

.buy-block .variants-table tr td{
    font-size: 12px;
    padding: 2px;
}

.buy-block .variants-table tr td label{
    margin: 0;
}




.cart_form {
    width: 50px;
    position: relative;
    padding: 0 20px;
    //margin: 0 auto 10px auto;
    display: inline-block;
    vertical-align: middle;

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.out_cart_form {
  display: inline-block;
}
.cart_form_kg {
  display: inline-block;
  margin-left: 0.5em;
}

.property-form .qty-text {
    font-size: 12px;
    color: #000;
    margin: 0;
    display: none;
}

.product-details-block .product-title{
    margin: 0 0 15px 0;
    color: #494949;
}

.product-details-block .product-code{
    font-size: 13px;
    color: #4A4F4B;
    margin: 0 0 5px 0;
    font-weight: bold;
}

.product-details-wrapper {
    margin: 20px 0;
    padding: 10px;
}

.product-details-title {
    font-size: 14px;
    line-height: 12px;
    font-weight: bold;
    display: inline-block;
    margin: 0 0 10px 0;
}

.product-details-desc {
    font-size: 14px;
    color: #333;
    line-height: 18px;
    margin: 0 0 10px 0;
}

.product-details-desc p {
    margin-top: 0;
}

.product-title {
    margin: 0;
}

.user-login .form-list {
    float: none;
}

.create-user-account-form .form-list {
    float: none;
}

.create-user-account h2,
.user-login h2,
.create-user-account-form h2 {
    font-size: 14px;
    color: #000;
    font-weight: bold;
}

.custom-text {
    color: #333;
    font-size: 14px;
    line-height: 20px;
}

.checkout-btn,
.send-btn,
.save-btn,
.register-btn {
    float: right;
}
.save-btn {
  margin-top: 1em;
}

.close-order-btn,
#close-order-successbtn {
    float: right;
    margin: 10px 0;
    color: #000;
    font-size: 12px;
}

.create-account-btn {
    font-size: 12px;
    color: #000;
    margin: 10px 0 0 0;
    display: inline-block;
}

.forgot-link {
    font-size: 12px;
    color: #333;
    margin: 8px 0 0 0;
    display: inline-block;
}

.forgot-link:hover {
    text-decoration: none;
}

.normal-text {
    font-weight: normal;
    font-size: 14px;
    color: #000;
}

.form-list {
    float: left;
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    list-style: none;
}

.feedback-form-wrapper .form-list{
    float: none;
}

.form-list li{
    margin: 0 0 8px 0;
    color: #000
}

.form-list li select {
    width: 100%;
    padding: 4px;
    margin: 5px 0 10px 0;
    border-radius: 5px;
    border: 1px solid #CDCDCD;
    outline: none;
}

.personal-tabs .form-list {
    float: none;
}

.address-area {
    border-radius: 5px;
    border: 1px solid #CDCDCD;
    padding: 5px 10px;
    width: 260px;
    min-height: 40px;
    resize: none;
    outline: none;
    margin: 5px 0 10px 0;
}

.change-pass-title {
    font-size: 18px;
    margin: 20px 0;
}

.red-star {
    color: red;
}

.green-color {
    color: #0AA347;
}

.payment-option .custom-text {
    margin: 0 0 10px 0;
    width: auto;
}

.delivery-details-list {
    padding: 0;
    list-style: none;
}

.payment-details-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.payment-details-list li,
.delivery-details-list li {
    font-size: 12px;
    color: #444;
    margin: 0 0 10px 0;
}

.delivery-text {
    margin: 0 0 10px 0;
    font-size: 12px;
    font-weight: bold;
}

.payment-form-block {
    font-size: 14px;
    line-height: 24px;
}

#personal .yur-field {
    margin: 15px 0 0 0;
    float: none;
}

#personal .form-list li select{
    width: 282px;
}

/*Хлебные крошки*/
.breadcrumbs {
    height: 20px;
}

.bread-list a {
    font-size: 11px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

.bread-list a:hover {
    text-decoration: underline;
}

.order-status {
    float: right;
}

.order-status strong {
    color: #CC0000;
}

.order-number {
    font-size: 14px;
}

.orderDate {
    color: #CC0000;
}

.order-close-text {
    margin: 18px 0 0 0;
    font-size: 16px;
    text-align: center;
}

.successful-closure a {
    text-decoration: none;
}

.status-table {
    width: 100%;
    font-size: 12px;
    margin: 25px 0 0 0;
}

.status-table th {
    border-bottom: 2px solid #CDCDCD;
    font-weight: bold;
    padding: 0 5px 10px 0;
    text-align: left;
}

.status-table tbody tr th:first-child {
    width: 300px;
}

.status-table tr td {
    padding: 10px 0 0 0;
}

.status-table tr td a {
    color: #333;
}

.status-table tr td a:hover {
    text-decoration: none;
}

.order-history {
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    margin: 0 0 20px 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

.order-total {
    float: right;
}

.order-settings {
    float: left;
    margin: 20px 0 0 0;
}

.total-list {
    margin: 25px 0 0 0;
    list-style: none;
    padding: 0;
}

.total-list li {
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.total-list li span {
    font-weight: normal;
}

.close-order,
.change-payment {
    cursor: pointer;
    background: url(../images/delete.png) left center no-repeat;
    padding: 0 0 0 20px;
    border: none;
    margin: 5px 10px;
    outline: none;
}

.change-payment {
    background: url(../images/icon-edit.png) left center no-repeat;
}




.wrapper .filter-block .filter-form .mg-filter-head{
    padding: 10px 10px 0 10px;
}



.show-hide-filters{
    margin: 10px;
    text-align: center;
    display: none;
}





.wrapper .filter-form .mg-filter .mg-filter-item{
line-height: 0px !important;
padding: 8px;
width: 94px;
}

.wrapper .filter-form .wrapper-field.filter-buttons{
    padding: 10px;
}

.wrapper .filter-block + .main-block{
    margin-left: 245px;
    overflow: hidden;
    padding: 0 0 100px 0;
    border-radius: 0 5px 5px 0;
}
.filter ul {
    float: none;
    width:0%;
}

.wrapper .no-filters .filter-block + .main-block{
    margin: 0;
    overflow: visible;
}

.main-block{
    position: relative;
    z-index: 1;
}

.main-block h1{
    font-size: 16px;
    font-weight: bold;
}

.wrapper .mg-filter-item .mg-tooltip .mg-tooltip-content{
    border: none;
    background: #F1F1F1;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
}

.wrapper .ui-slider .ui-slider-range{
    background: #E90101;
}

.summ-info .order-summ{
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.summ-info{
    margin: 10px 0 0 0;
}

.enter-on{
    display: inline-block;
    position: relative;
}

.slash{
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}

.enter-form{
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 11;
    background: #fff;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

.enter-form .form-list{
    margin: 0;
}

.enter-form .enter-btn{
    float: right;
}

.enter-form a{
    color: #000;
    text-shadow: none;
}

.enter-on a span{
    display: inline-block;
    vertical-align: middle;
}

.enter-on.open .enter-form{
    display: block;
    animation: fadeInUp .2s ease-in-out;
    -webkit-animation: fadeInUp .2s ease-in-out;
    -moz-animation: fadeInUp .2s ease-in-out;
}



.property-form select{
    margin: 0 0 0 5px;
}

/*icons*/



.product-tabs-container p{
    margin: 0 0 10px 0;
    font-size: 14px;
    line-height: 21px;
}
.product-tabs-container{
    padding: 30px 0;
}


.alert-info{
    color: #31708F;
    background: #D9EDF7;
    border: 1px solid #BCE8F1;
    padding: 10px;
    font-size: 14px;
    text-align: center;
}

/*леяут горизонтального меню*/




.filter-block .filter-preview{
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 0 5px 5px 0;
    padding: 6px 10px;
    margin: -10px 0 0 20px;
}

.wrapper .comments textarea{
    border-radius: 5px;
    padding: 10px;
}

.comments .comments-msg{
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}

.mg-recent-products .product-wrapper .product-name{
    height: 32px;
    line-height: 17px;
}

.comments .sendComment{
    float: right;
    margin: 10px 0 0 0;
}

.comments .comment-list .comment-post{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.comments .c-msg-red{
    padding: 10px;
    color: #c2646d;
    background: #fdd6da;
    border: 1px solid #eca8a8;
    display: block;
}

.comments .c-msg-green{
    padding: 10px;
    color: #4d8b52;
    border: 1px solid #aed0b1;
    background: #d7f4ce;
    display: block;
}

body .mg-scrollTop{
    width: 64px;
    height: 64px;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    opacity: 0.5;
    background: url("../images/sprite.png") -305px -16px no-repeat;
}

body .mg-scrollTop:hover{
    opacity: 1;
    background-position: -305px -16px;
}

.wrapper .filter-form .price-slider-list li input[type="text"]{
    width: 70px;
    font-size: 13px;
}

.modal-ring-list li{
    margin: 0 0 10px 0;
}

.header-modal-back-ring{
    margin: 0 0 15px 0;
}

#overlay {
    opacity: 0.4;
    filter: alpha(opacity=40);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    width: 100%;
    height: 100%!important;
    z-index: 55;
    overflow: auto;
}

.wrapper .custom-text{
    width: auto;
}

.wrapper .mg-trigger-guarantee .mg-trigger + .mg-trigger{
    margin: 0 0 10px 0.69%;
}

.wrapper .mg-trigger-guarantee .mg-trigger{
    float: none;
    vertical-align: top;
    width: 32.5%;
    margin: 0 0 10px 0;
}

.m-p-slide-unit iframe{
    max-width: 100%;
    max-height: 100%;
}

.error-404{
    text-align: center;
    font-size: 28px;
    line-height: 26px;
    font-weight: bold;
    margin: 100px 0 0 0;
}

.error-404 p{
    font-size: 14px;
    font-weight: normal;
}

.error-404 a:hover{
    text-decoration: none;
}

.error-404 a{
    display: inline-block;
    font-weight: normal;
    vertical-align: top;
    font-size: 14px;
    line-height: 14px;
}

.mg-compare-products .mg-compare-product-image{
    margin: 0 0 10px 0;
}

.mg-compare-products .mg-compare-product-image a{
    display: block;
}

/*Стили из могуты---------------------------------------------------------*/





/*sub-categories*/
.sub-categories {
  margin-bottom: 1em;
}
.sub-categories li {
  display: inline;
  padding-right: 1em;
}
/*komplekt*/
/*.mg-set-goods-image {
  display: none;
}
.mg-set-goods-plugin .mg-set-goods-equals, .mg-set-goods-plugin .mg-set-goods-plus {
  margin: 10px auto;
}*/
.mg-set-goods-buy a {
  display: none;
}
.mg-set-goods-plugin .mg-set-goods-buy {
  margin: 15px 0 0 25px;
  background: none;
  border: none;
  box-shadow: none;
}
.mg-set-goods-plugin .product-wrapper {
  vertical-align: middle;
}
.mg-set-goods-buy {
  vertical-align: middle !important;
  margin: 0px 0 0 25px !important;
}
.mg-set-goods-price {
  display: inline;
}

/*zvonok*/

.wrapper-modal-back-ring {
   position: absolute;
    right: 0px;
    left: -75%;
    top: 30px;
    z-index: 10;
    width: 77%;
    margin: 0% 0% 0% 85%;
    background: #fff;
    border: 1px solid #CCCCCC;
    padding: 15px;
    display: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);

}


.wrapper .wrapper-back-ring {
  margin: 0px;

}
.wrapper .wrapper-back-ring .back-ring-button {
  border: none;
  text-decoration: underline;
  color: #1a7ecb;
  display: inline;
  background: none;

}
.wrapper .wrapper-back-ring .back-ring-button:hover {
  text-decoration: none;
}
.wrapper-modal-back-ring .send-ring-button {
  background: #fffad1;
  border: 1px solid grey;
  color: #000;
  text-shadow: none;
}
.wrapper-modal-back-ring .send-ring-button:hover {
  background: #fffad1;
}
/*main*/
.maincat, .maincont_off {
  //display: none;
}


/*login*/


.payment-form-block input[type="submit"]{
    padding: 0 14px!important;
}

body .wrapper button.default-btn{
    line-height: 28px;
}



.create-user-account-form .register-btn,
.checkout-btn,
.feedback-form-wrapper .default-btn{
    padding: 10px 15px;
    width: 100%;
}

.checkout-btn{
    width: auto;
}

.user-login .enter-btn{
    float: right;
}

.restore-pass,
.user-login,
.create-user-account-form,
.feedback-form-wrapper {
    max-width: 350px;
    margin: 0 auto 25px;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    overflow: hidden;
}

.user-login input textarea,
.user-login input[type="password"],
.user-login input[type="text"],
.create-user-account-form textarea,
.create-user-account-form input[type="password"],
.create-user-account-form input[type="text"],
.feedback-form-wrapper textarea,
.feedback-form-wrapper input[type="password"],
.feedback-form-wrapper input[type="text"]{
    width: 100%;
    box-sizing: border-box;
}

.restore-pass .enter-btn{
    width: 100%;
}

.restore-pass input[type="text"]{
    width: 100%;
}

.restore-pass .custom-text{
    margin: 0 0 10px 0;
}

.auth-text{
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}
.userlogout {
    /*background: none repeat scroll 0 0 #e6e6e6;
    border: 1px solid #d3d3d3;
    color: #555;
    display: block;
    float: right;
    font-weight: normal;
    height: 44px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    width: 100px;
    */

    display: inline-block;
    padding: 11px 15px;
    color: #7f8b8d;
    font-size: 14px;
    text-decoration: none;
    border-radius: 6px 6px 0 0;
    background: #EBEFF1;

}
.userlogout:hover {
    background: #B50101;
    color: #ffffff;
}
.ginfora img {
  //width: 150px;
}

.outfilter {
    width: 100%;
}
.outleftblock {
    width: 100%;
}
/*blog*/
.mg-blog-categories {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}
.mg-blog-categories h2 {
  display: none;
}
.mg-blog-categories ul li {
          margin: -15px 45px -1.8em 50px;
}
.mg-blog-categories ul li a {
    color: #000;
    display: inline;
    padding: 0pc;
    text-decoration: underline;
}
.mg-blog-categories ul li a:hover, .mg-blog-categories ul li a.selected {
  background: none;
  text-decoration: none;
}
.mg-blog-categories ul li a.selected {
  display: block;
  background: #fbf4c3 none repeat scroll 0 0;
  margin: 0 -1em;
  padding: 0.2em 1em;
}
.mg-main-news-item {
  background: #fffad1;
  border: none;
}
.mg-main-news-item .mg-list-news-img {
  background: #fffad1 none repeat scroll 0 0;
  float: left;
  height: 188px;
  line-height: 0;
  padding: 1px 0 1px 1px;
  position: relative;
  width: 250px;
}
.rss, .blog_root {
  display: none;
}

.mg-discount-system-header {
  margin-top: 10px;
}
/*form*/
#consult_form textarea{
  resize: none;
}
.cf_success {
  color: green;
  font-size: 1.2em;
  margin: 1.5em 0;
}
.cf_error {
  color: red;
}
/*tabs*/
.tabmenu {
  margin-top: 20px;
  margin-bottom: 0px !important;
}

.tabmenu li {
  display: inline-block;
  //padding-right: 2px;
  line-height: 28px;
}
.tabmenu li:last-child {
  //padding-right: 0px;
}

.product-top-block.clearfix {
   width: 97%;
    margin: 1% 0% 0% 1%;
}
.tab.active {

    border-bottom: 1px solid #FFFFFF;
    color: #FC7F26;
}
.tabcontents {
    border-color: #DDDDDD;
    border-radius: 0 4px 4px;
    border-style: solid;
    border-width: 1px;
    display: block;
    overflow: hidden;
    padding: 10px;
    min-height: 300px;
}
.tabcontent {
  display: none;
}
.tabcontent.active {
  display: block;
}
/*clearfix*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*product-images*/
.product-top-in {
 /* float: left;*/
}
.product-top-left {
  width: 82%;
}
.product-top-right {
     width: 100%;
    margin: 0% 0% 0% 4%;
    padding: 0% 6% 0% 1%;
    text-align: justify;
}
.product-images {
  text-align: center;
}
.product-images img {
        height: auto;
    max-width: 70%;
    padding: 0 20px;
    vertical-align: middle;
}

.product-prices table {
  width: 100%;
}
/*pricelist*/
.pricelist tr:first-child {
  background: #fffad1;
}
/*buy-block*/
.buy-block-bottom {
  padding: 20px 0;
  clear: both;
}
.buy-left {
  float: left;
  margin-right: 20px;
}
.buy-right {
  overflow: hidden;
}
.content .price-th, .pricelist .price-th tr:first-child {
  background: none;
}
.price-th td+td {
  text-align: right;
  width: 130px;
}
.mg-modal {
    z-index: 501 !important;
}










.tblclr{rules:all;width:50%;border:6px double #BA4C08;сellspacing:14px;margin-bottom:1em;margin-left:15%;box-shadow: 5px  2px   17px  3px rgba(0,0,0,0.3);text-align:center;}
.theadclr{background-color:#0015D6;width:40%;text-align:center;color:#fff}
.tdclr{ background-blend-mode:#D8D8DA;padding:6px; }



.ss-iconL{
  width:40px;
  height:40px;
  margin-left:40px;
margin-bottom:40px;
}
.ss-iconR{
  width:40px;
  height:40px;
  margin-right:40px;
 }

.tblclr{
  rules:all;
  width:40%;
  border:6px double #BA4C08;
  border-spacing:14px;
  margin-bottom:1em;
  margin-left:15%;
  box-shadow:5px 2px 17px 3px rgba(0,0,0,0.3);
  text-align:center;
}
.theadclr{
  width:40%;
  background-color:#0015D6;
  text-align:center;
  color:#fff;
}
.tdclr{background-color:#D8D8DA;
  padding:6px;
}


.border li {
font-family: Georgia, serif;
padding: 7px 20px;
margin-bottom: 10px;
border-radius: 5px;
border-left: 10px solid #f05d22;
box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
     -2px -2px 5px 0 rgba(0,0,0,.1),
    2px 2px 5px 0 rgba(0,0,0,.1),
    -2px 2px 5px 0 rgba(0,0,0,.1);
font-size: 16px;
letter-spacing: 1px;
transition: 0.3s all linear;
}

.tblramcorZag{
background-color: #001dff;
color: #ffffff;
text-align: center!important;
  font-size: 18px!important;
   font-weight:700!important;

}
.tblramcorLeft{
background-color: #abfcfb;
color: #000000;
text-align: left!important;
  font-size: 16px;
   font-weight: 600!important;
  margin-left:7px;
}


.plazeAttentGar{
    width: 77%;
    float:left;

}
.plash_GrnOff{
width:57%;
  float:right;
}
.plash_Bl_mag{
margin-left:220px;
}




.plash_Yl_mag{

}
.betpolimg1{
    border-width: 1px;
    border-style: solid;
    margin: 2px;
    float: right;
   width: 23%;
    height: 28%;
}
.betpolimg2{
    border-width: 1px;
    border-style: solid;
    margin: 2px;
    float: right;
   width: 23%;
    height: 82%;
}
.betpolimg3{
    border-width: 1px;
    border-style: solid;
    margin: 2px;
    float: right;
    width: 21%;
    height: 24.7%;
}
.betpolimg4{
    border-width: 1px;
    border-style: solid;
    margin: 2px;
    float: right;
    width: 24%;
    height: 33%;
}
.promimg1{
width:23%;
}
.promimg2{
width:23%;
height:34.7%;
}
.promimg3{
width:23%;
}
.promimg4{
width:23%;
height:25.7%;
}


.twocolor{

  width: 136px!important;
    height: 7px!important;




}

.twocolor:hover{


}



@-webkit-keyframes Anima {

     0% {
         background-size: 100% 100%;
    }

    100% {
         background-size: 100% 1%;
    }
}


@-moz-keyframes Anima {

     0% {
         background-size: 100% 100%;
    }

    100% {
         background-size: 100% 1%;
    }
}
@-o-keyframes Anima {

      0% {
         background-size: 100% 100%;
    }

    100% {
         background-size: 100% 1%;
    }
}

@keyframes Anima {

      0% {
         background-size: 100% 100%;
    }

    100% {
         background-size: 100% 1%;
    }
}

.imgkartzoom1{
opacity: 1.0;
width:100%;
z-index:0;

}

}
p.strlFt {
       margin: 7px 4px 2px 25pX!important;
    padding: 0px 5px 0 9PX!important;

}

#rlp {
  margin: -22px 0px 0px 194px!important;
}
img#idtxtv {
    margin: 0% 0% 0% 39%;
    padding: 0% 0% 0% 0%!important;
}
img#idftv {
    margin: 0% 0% 0% 39%;
}


.col1 li{

    list-style: none;

}

.col2 li{

      list-style: none
}
.col3 li{

        list-style: none
}

.cat-desc-img {
    width: 27%;
    margin: 0% 0% 0% 17%;
    padding: 0% 0% 0% 0%;
}
.cat-desc {
    width: 126%;
    margin: 0% 0% 0% -18%;
}
#otr1{
      margin: 3% 0% 0% -13%;
    padding: 0% 0% 0% 0%;
    width: 95%;
}

#otr2{
       margin: 3% 0% 0% -17%;
    padding: 0% 0% 0% 0%;
    width: 97%;

}
#otr3{
      margin: 4% 0% 0% 22%;
    padding: 0% 0% 0% 0%;
    width: 82%;
}

td.tdleft {
        width: 19%;
}


.tdnofltr{
    width: 1%;
}
td.content {
    width: 53%;
}
div#ctt1 {
    margin: 0% 0% 0% -28%;
    padding: 0% 0% 0% 0%;
}
div#ctt2 {
    margin: 0% 0% 0% -40%;
    padding: 0% 0% 0% 0%;
}
div#ctt3 {
    margin: 0% 0% 0% 48%;
    padding: 0% 0% 0% 0%;

}

button.back-ring-button.default-btn {
    font-size: 118%;
    text-decoration: blink;
    font: icon;
    font-size: 800;
    font-weight: 600;
}
p.cart_p {
    position: absolute;
    top: 10px;
    left: -116px;
}

li.cart-qty {display:none;
    width: 28%;
    margin: 121% 0% 0% -13%!important;
    padding: 0% 0% 0% 6%!important;
    font-size: 100%!important;
    background-color: green;
    color: #f6f917;
    position: absolute;
    top: -897px;
    left: 0%;
}

button.button.flbtCLR.bt_resets {
    /* font-size: 115%; */
    font: normal 112%/2em "Times New Roman", Times, serif!important;
}
.downmenu{
  width: 97vw;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    background-color: #004424;
}




table.tdownmenu {
margin: 0% 0% 0% 7%;
    padding: 0% 0% 0% 0%;
}




.mg-desktop-cart {
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid transparent;
    position: absolute;
    left: 0;
    top: 66px;
    z-index: 5;

}
.zvonok {
  font-size: 0.8em;
  font: 0.8em/1.2em Arial, Helvetica, sans-serif;
  margin: 0% 0% 0% 1%;
}
p.cart_p {
    position: absolute;
    top: -13px;
    left: -116px;
}
.colleft {
width: 100%;
margin: -11% 0% 0% 0%;
}


.banTeo{
margin:-5% 0% -12% 6%;
}




.closePUP:hover {
  background-color: rgba(252, 20, 0, 0.8);
  content: "X";
}
.PUPTeo{
width: 100%;
height: 182px;
border-color: #f9dd80;
border: 4px solid #f9dd80;
}
.PUPTeoPdp {

text-align: center;
color: #FFFDFD !important;
line-height: 26px;
}




.topcontsM {
    position: absolute;
    top: 210px;
    left: 293px;
}
.topconts {
width: 99.3%;
    background: url(../images/phone.png) no-repeat right center;
     margin: -36px 6px 10px -34px;
}


.phone {
font: 136%/1.2em Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: -18% 0% 0% 3%;
    padding: 0% 0% 0% 0%;
    font-weight: 700;
    color: blue !important;
}
.colleft {
width: 100%;
margin: -7% 0% 0% 16%;
}
.outcart {
      position: absolute;
    top: 12%;
    left: 18%;
    width: 46%;
}

.modalPUP p {
font-size: 120% !important;
    text-align: center;
    color: #fff !important;
    line-height: 26px;
    font: message-box;
margin: 0% 0% 0% 0%;
    padding: 11% 0% 0% 4%;
    width: 107%;
    DISPLAY: -WEBKIT-BOX;
    font-family: arial;

}






.modalPUP {
width: 122%;
    height: 200px;
    background: #004f92;
    text-align: center;
    position: relative;
    top: 0px;
    left: 0px;
    box-shadow: 5px -3px 16px 17px #e69717;
    display: none;
    z-index: 1;
}

.modalPUP p {
font-size: 120% !important;
    text-align: center;
    color: #fff !important;
    line-height: 26px;
margin: 1% 0% 0% 8%;
    padding: 12% 0% 0% 0%;
    width: 107%;
    DISPLAY: -WEBKIT-BOX;
    font-family: arial;
}
.wrapperPUP {

position: absolute;
top: 50%;
left: 50%;
    margin: -3% 0 0 -26.5%;
}

.closePUP {

  border: none;
  border-radius: 50%;
  background-color: rgba(0, 131, 119, 0.9);
  cursor: pointer;
  outline: none;
 color: rgba(255, 255, 255, 0.9);
  content: "X";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  transition: all 0.5s;
display:none;
}
button.closePUP {
    position: absolute;
     top: -17px;
    left: 459px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 131, 119, 0.9);
    cursor: pointer;
    outline: none;
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    transition: all 0.5s;
    z-index: 1;
    font-size: 96%;
    text-decoration: none;
    text-align: center;
display:none;

}

.topcontsM {
    position: absolute;
    top: 210px;
    left: 293px;
}
.topconts {
 text-align: right;
    width: 71.3%;
         padding: 5.5em 4em 0.5em 44%;
    background: url(../images/phone.png) no-repeat right center;
}
.wrapper .wrapper-back-ring .back-ring-button {
        border: none;
    text-decoration: underline;
    color: #1a7ecb;
    display: inline;
    background: none;
    position: absolute;
     top: 26%;
    left: 72%;
    width: 16%;
    font-size: 118%;
}

#cf_open {
position: relative;
top: -9px;
z-index: 0;
left: 249px;
}